.report-box {
    max-width: 1920px;
    background-color: white;
    padding: 60px;
    margin: 120px 30px 30px 30px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.report h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.report h2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

.report p {
    padding: 10px 0;
}

.report-item {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.plot-box-status{
    width: 350px;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.plot-box-status .alert-icon{
    width: 38%;
}

.plot-box-status .model_output{
    width: 58%;
}

.model-class{
    font-size: 28px;
    color: white;
}

.model-proba{
    font-size: 18px;
    color: white;
}

.plot-box-50{
    min-width: 350px;
    width: 48%;
}

.plot-box-30{
    min-width: 350px;
    width: 28%;
}

.plot-box-70{
    min-width: 350px;
    width: 68%;
}

.box-50, .box-7030{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.plot-header{
    width: 100%;
    display: flex;
    justify-content: space-between;  
}
.plot-header h3{
    font-weight: lighter;
    color: #386796;
    font-size: 18px;
    text-align: left;
    padding: 12px;
}

.plot-figure{
    width: 100%;
}

.plot-figure img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.plot-explanation-text ul{
    overflow: auto;
    padding: 5px;
}
/*
.plot-explanation-text ul li{
    display:inline;
    padding:0px;
    float:left;
}
*/